/* bootstrap overrides */
body {
    font-family: 'Roboto',"Helvetica Neue",sans-serif;
    color: #343434;
}
a {
    color: #37b34a;
}
a:hover,
a:focus {
    color: #37b34a;
}
.table {
    width: unset
}
h1,
h2,
h3 {
    line-height: 42px;
    font-weight: 700;
}
h1 {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
}
h2 {
    margin-top: 40px;
    font-size: 30px;
}
li {
    padding-bottom: 5px;
}
textarea {
    font-family: 'Roboto',"Helvetica Neue",sans-serif;
}
#sidebar-menu .navbar {
    padding-top: 55px;
    padding-right: 30px;
}
#sidebar-menu .nav-list > li {
    line-height: 20px;
}
#sidebar-menu .nav-list > li > a {
    padding: unset;
}
#sidebar-menu .navbar-search .search-query {
    font-family: 'Roboto',"Helvetica Neue",sans-serif;
}
.logo {
    margin: auto;
    display: block;
    max-height: 150px;
    max-width:100%;
}
p.logo {
    text-align: center;
    margin-bottom: 20px;
}

a:-webkit-any-link {
    color: #37b34a;
}
/* bootstrap overrides end */
html {
    min-height: 100%;
    position: relative;
}
.main {
  padding: 0px 40px;
  padding-top: 55px;
  background: rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0 20px #d2d2d2;
  box-shadow: 0 0 20px #d2d2d2;
  height: 100%;
}
.container {
  width: 1100px;
}
.nav-list {
  font-size: 17px;
}
.nav-header {
  font-size: 17px;
  text-transform: none;
  line-height: 30px;
}
.nav > li.sidebar-header-1 {
  display: none;
}

.sidebar-header-2 { 
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
 }
.sidebar-header-3 {
  margin-left: 20px;
  font-size: 14px;
 }
.sidebar-header-4 { margin-left: 30px; }
.sidebar-header-5 { margin-left: 40px; }

/* footer */
footer {
    margin-top: 15px;
    position: absolute;
    width:100%;
    bottom: 0;
    color: #757575;
    background-color: #111111;
    padding: 15px 0;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}
footer a {
    color: #757575;
}
footer p:first-child a {
    padding: 10px;
}
/* footer end */
/* responsive */
@media(max-width:767px){
   .affix {
        position: unset;
        width: auto;
        top: 0;
    }
    footer {
        width: unset;
        position: relative;
        margin-right: -15px;
    }
}
/* responsive end */
